#div_main{
    position: relative;
}
#div_introduction{
    left: 30px;
	right: 30px;
    top: 50px;
    position: absolute;
    border-style: solid;
    border-color: rgb(255,96,0);
    border-width: 2px;
    z-index: 0;
}
#copyright{
    position: absolute;
	bottom: 0;
    width: 100%;
    text-align: center;
}
