body {
    font-family: Consolas;
}
#div_menu {
	font-size: 100%;
	margin: 0 auto;
    display: flex;
    list-style-type: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom-style: solid;
    background: white;
    z-index: 1024;
}
#headline {
	background-color:#00aaff;
	margin-top:100px;
	margin-left:25px;
	margin-right:25px;
}
